body {
  background-image: url(https://images.unsplash.com/photo-1437419764061-2473afe69fc2?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=da8cb196ab6108a62dc9f435ae305db2&auto=format&fit=crop&w=1790&q=80);
  background-size: cover;
  text-align: center;
}

h1 {
  color: white;
  font-size: 3em;
}

#display {
  margin: 40px;
  width: 300px;
  height: 50px;
  border: 1px solid black;
  text-align: right;
  font: 20px bold;
}

.keys {
  width: 75px;
  height: 75px;
  margin: 5px;
}

.equal {
  width: 170px;
  height: 75px;
}

#calc {
  background-color: gray;
  width: 500px;
  border: 3px solid black;
  border-radius: 50px 50px 50px 50px;
  margin: 50px auto;
  box-shadow: 0px 0px 5px 5px gray;
}
